head
  meta(charset='utf-8')
  meta(http-equiv='X-A-Compatible', content='IE=edge')
  meta(http-equiv='content-language', content='en-gb')
  title no name
  meta(name='description', content='Replace description here.')
  meta(author='Your name here')
  script(src='https://maps.googleapis.com/maps/api/js')
  script(src='js/all.js', defer='true')
  link(rel='stylesheet', type='text/css', href='styles/main.css')
  link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  //- link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css", rel="stylesheet")
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css", rel="stylesheet")