doctype html
html(lang="en")
  
    include partials/head
  body
    include partials/header
    .container
      .row
        .col-md-6.col-md-offset-3
          h1 Friend list:

          - var values = [{name: 'Paul Smith',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg'},{name: 'Mildred Stafford',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg'},{name: 'Justin Jackson',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg'},{name: 'Bianca Whitehead',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg'}]
          
          for value in values
            .row.user-item
              .col-xs-2.col-sm-2.text-center
                img.img-circle.img-responsive(src=value.image, alt='', width='50')
                |                     
              .col-xs-7.col-sm-7.section-box
                h4= value.name
              .col-xs-3.col-sm-3.text-center
                button.btn.btn-default(type='button', aria-label='Left Align')
                  span Ping!

    include partials/footer


