doctype html
html(lang="en")
  
    include partials/head
  body
    include partials/header
    .container
      .row
        .col-md-6.col-md-offset-3
          h1 Friend list:

          .row.user-item
            .col-xs-2.col-sm-2.text-center
              img.img-circle.img-responsive(src='https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg', alt='', width='50')
              |                     
            .col-xs-7.col-sm-7.section-box
              h4 Mildred Stafford
            .col-xs-3.col-sm-3.text-center
              button.btn.btn-default(type='button', aria-label='Left Align')
                span Follow

          .row.user-item
            .col-xs-2.col-sm-2.text-center
              img.img-circle.img-responsive(src='https://s3.amazonaws.com/uifaces/faces/twitter/madysondesigns/128.jpg', alt='', width='50')
              |                     
            .col-xs-7.col-sm-7.section-box
              h4 Bianca Whitehead
            .col-xs-3.col-sm-3.text-center
              button.btn.btn-default(type='button', aria-label='Left Align')
                span Follow

          .row.user-item
            .col-xs-2.col-sm-2.text-center
              img.img-circle.img-responsive(src='https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg', alt='', width='50')
              |                     
            .col-xs-7.col-sm-7.section-box
              h4 Paul Colon
            .col-xs-3.col-sm-3.text-center
              button.btn.btn-default(type='button', aria-label='Left Align')
                span Follow

          .row.user-item
            .col-xs-2.col-sm-2.text-center
              img.img-circle.img-responsive(src='https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg', alt='', width='50')
              |                     
            .col-xs-7.col-sm-7.section-box
              h4 Dorothy Parsons
            .col-xs-3.col-sm-3.text-center
              button.btn.btn-default(type='button', aria-label='Left Align')
                span Follow


          
    include partials/footer


