doctype html
html(lang="en")
	
		include partials/head
	body
		include partials/header
		article(role='main', class='index-container')
			section
				div#trips
				a(href='/new-trip.html') Add your trip!

			if friends
				section
					h2 Friends
						ul
							each val in friends.length ? friends : ['No friends available']
								li= val
			else
				p No friends yet!
			if stats
					section
						h2 Stats

				

		include partials/footer


