doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-A-Compatible', content='IE=edge')
		meta(http-equiv='content-language', content='en-gb')
		title Page Title
		meta(name='description', content='Replace description here.')
		meta(author='Your name here')
		link(rel='stylesheet', type='text/css', href='styles/main.css')
	body
		h1 Hello World