doctype html
html(lang="en")
  
    include partials/head
  body
    include partials/header
    

      .row.notification.ping
        .col.s12
          .card.blue-grey.darken-1.z-depth-2
            .card-content.white-text
              .card-title.avatar You received a Hey!
              img.img-circle.circle.img-responsive.left-align(src='https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg', alt='', width='90')
              p.left-align <strong>Justin Jackson</strong> would like to talk to you. Are you in the mood for a chat?
            .card-action
              a.lime-text(href='/hack15-team05/dist/') Meet me
              a.close-notification(href='/hack15-team05/dist/') Close

      .row.notification.disruption
        .col.s12
          .card.blue-grey.darken-1.z-depth-2
            .card-content.white-text
              .card-title Ohh no!
              p <strong>Paddington Station</strong> has been closed due to accident. Catch a cab instead to still make it on time!
            .card-action
              a.lime-text(href='/hack15-team05/dist/') Share a cab
              a.close-notification(href='/hack15-team05/dist/') Close


    article(role='main', class='index-container')
      section.lime
        h3 My trips
        div#trips
        a(class='btn btn-default btn-big', href='/hack15-team05/dist/new-trip.html') Add your trip!

      - var friends = [{name: 'Paul Smith',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg'},{name: 'Mildred Stafford',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg'},{name: 'Justin Jackson',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg'},{name: 'Bianca Whitehead',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg'}]
      
      if friends
        section
          .row
            .col-md-6.col-md-offset-3
              h3 Friends
              ul.collection
                each val in friends.length ? friends : ['No friends available']
                  li.row.user-item.collection-item.avatar
                    img.img-circle.circle.img-responsive(src=val.image, alt='', width='50')
                    p= val.name
                    button.btn.secondary-content.btn-default(type='button', aria-label='Left Align')
                        span Hey!


      else
        .col-md-6.col-md-offset-3.text-center
          p No friends yet!
      if stats
          section
            h2 Stats

        

    include partials/footer


