doctype html
html(lang="en")
  
    include partials/head
  body
    include partials/header
    

      .row.notification.ping
        .col.s6.offset-s3
          .card.blue-grey.darken-1
            .card-content.white-text
              .card-title You received a Ping!
              p  Lorem ipsum dolor sit amet, consectetur.
            .card-action
              a(href='/') Meet me!
              a.close-notification(href='/') Close

      .row.notification.disruption
        .col.s6.offset-s3
          .card.blue-grey.darken-1
            .card-content.white-text
              .card-title ohh No!
              p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero fugiat adipisci alias velit sed, distinctio.
            .card-action
              a(href='/') Find a ???
              a.close-notification(href='/') Close


    article(role='main', class='index-container')
      section.lime
        h3 My trips
        div#trips
        a(class='btn btn-default btn-big', href='/new-trip.html') Add your trip!

      - var friends = [{name: 'Paul Smith',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg'},{name: 'Mildred Stafford',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg'},{name: 'Justin Jackson',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg'},{name: 'Bianca Whitehead',image: 'https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg'}]
      
      if friends
        section
          .row
            .col-md-6.col-md-offset-3
              h3 Friends
              ul.collection
                each val in friends.length ? friends : ['No friends available']
                  li.row.user-item.collection-item.avatar
                    img.img-circle.circle.img-responsive(src=val.image, alt='', width='50')
                    p= val.name
                    button.btn.secondary-content.btn-default(type='button', aria-label='Left Align')
                        span Ping!


      else
        .col-md-6.col-md-offset-3.text-center
          p No friends yet!
      if stats
          section
            h2 Stats

        

    include partials/footer


