doctype html
html(lang="en")
  
    include partials/head
  body
    include partials/header

    article(role='main', class='index-container')
      section
        div
          a(href='/') Back
    
    .container
      .row
        .col-md-4.col-md-offset-4
          form#create-trip
            .form-group
              label(for='from') From
              |     
              input#from.form-control(type='text', placeholder='From', name='origin')
            .form-group
              label(for='to') To
              |     
              input#to.form-control(type='text', placeholder='To', name='destination')
              | 
            .form-group
              label(for='time') Time
              |     
              input#time.form-control(type='time', placeholder='Time', name='start-time')
              | 
            button.btn.btn-primary.btn-big(type='submit') Save

    include partials/footer


