doctype html
html(lang="en")
  
    include partials/head
  body
    include partials/header
    .container
      .row
        .col-md-6.col-md-offset-3
          h1 People to travel with:

          .row.user-item
            .col-xs-12.col-sm-3.text-center
              img.img-circle.img-responsive(src='/images/khaleesi.jpg', alt='')
              |                     
            .col-xs-9.col-sm-6.section-box
              h2 Khaleesi
              |                         
              p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel placeat animi, sint eum?
              hr
              |                         
              .row.rating-desc
                .col-md-12
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart

            .col-xs-3.col-sm-3.text-center
              button.btn.btn-default(type='button', aria-label='Left Align')
                span.glyphicon.glyphicon-thumbs-up(aria-hidden='true')


          .row.user-item
            .col-xs-12.col-sm-3.text-center
              img.img-circle.img-responsive(src='/images/snow.jpg', alt='')
              |                     
            .col-xs-9.col-sm-6.section-box
              h2 John Snow
              |                         
              p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel placeat animi, sint eum?
              hr
              |                         
              .row.rating-desc
                .col-md-12
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart

            .col-xs-3.col-sm-3.text-center
              button.btn.btn-default(type='button', aria-label='Left Align')
                span.glyphicon.glyphicon-thumbs-up(aria-hidden='true')


          .row.user-item
            .col-xs-12.col-sm-3.text-center
              img.img-circle.img-responsive(src='images/tyrion.jpg', alt='')
              |                     
            .col-xs-9.col-sm-6.section-box
              h2 Tyrion Lannister
              |                         
              p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel placeat animi, sint eum?
              hr
              |                         
              .row.rating-desc
                .col-md-12
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart
                  span.glyphicon.glyphicon-heart

            .col-xs-3.col-sm-3.text-center
              button.btn.btn-default(type='button', aria-label='Left Align')
                span.glyphicon.glyphicon-thumbs-up(aria-hidden='true')

    include partials/footer


