doctype html
html(lang="en")
  
    include partials/head
  body
    include partials/header
    article(role='main', class='index-container')
      section
        div
          a(href='/') Back

    .container
      .row
        .col-md-10.col-md-offset-1

          h1 People to travel with:

          - var values = [{name: 'Khaleesi', image: '/images/khaleesi.jpg'},{name: 'John Snow', image: '/images/snow.jpg'},{name: 'Tyrion Lannister',  image: 'images/tyrion.jpg'}]

          for value in values
            .row.user-item
              .col-xs-12.col-sm-3.text-center
                img.img-circle.img-responsive(src=value.image, alt='')
                |                     
              .col-xs-9.col-sm-6.section-box
                h2= value.name
                |                         
                p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel placeat animi, sint eum?
                .row.rating-desc
                  .col-md-12
                    br
                    span.glyphicon.glyphicon-heart
                    span.glyphicon.glyphicon-heart
                    span.glyphicon.glyphicon-heart
                    span.glyphicon.glyphicon-heart
                    span.glyphicon.glyphicon-heart

              .col-xs-3.col-sm-3.text-center
                button.btn.btn-default(type='button', aria-label='Left Align')
                  span Ping!


    include partials/footer


